extends layout

block content
  .container
    .jumbotron 
      h1 Awkward...
      p It's okay, just enter your University of Southampton e-mail address below, and we'll reset your password to a random string, which we will email to you. You can change your password back once you login by clicking on the 'my account' tab up top.
    
    
    form(role='form', action="/forgot-password",method="post", style='max-width: 300px; margin: auto;')
      .form-group
          input.form-control(type='email', name="email", placeholder='Enter your e-mail address')
      button.btn.btn-primary(type='submit', style='float: right;') Reset
