extends layout

block content
  .container
    .jumbotron 
      h1 Awkward...
      p It's okay, just enter your e-mail address below, and we'll reset your password to your university ID number.
    
    
    form(role='form', action="/forgot-password",method="post", style='max-width: 300px; margin: auto;')
      .form-group
          input.form-control(type='email', name="email", placeholder='Enter your e-mail address')
      button.btn.btn-primary(type='submit', style='float: right;') Reset
