extends layout

block content
  script(type='text/javascript').
    var local_data =!{JSON.stringify(user)}
    console.log(local_data)
  
  script(src='javascripts/index.js')

    

  .container
      //- Set heading in Jumbotron
      if(!user.isAdmin)
        .jumbotron
          h1 Welcome, #{user.firstname}
          hr
          h3 There are currently #{number_tickets} other ticket(s) submitted.
          
        
        if(needs_location)
          .panel.panel-warning#locationBox
            .panel-heading
              h2 Need your location!
            .panel-body
              p Please enter where you are so we can send a ticket to you
              input#locationBar
              button#locationButton.btn.btn-primary Send
        
        .panel.panel-success
          .panel-heading
            h2 New Ticket 
          .panel-body
            form#tktForm
              .form-group
                input.form-control#tktQuestion(type='text', placeholder='What problem/question are you on?' minlength='1' required)
              .form-group
                textarea.form-control#tktText(type='text', placeholder='What do you need help with?' required)
              .form-group(align='right')
                button.btn.btn-primary#tktSubmit Submit
                
      
      if(user.isAdmin)
        .jumbotron(style={background: '#6BB9F0'})
          h1 Admin Home: #{user.firstname}

      if(!user.isAdmin)        
        .panel.panel-default
          .panel-heading
            h2 Your Tickets     
          .panel-body
            table.table
              thead
                tr
                  th Question
                  th Message
                  th Seen?
                  th Close Ticket
              tbody#ticketTable
                
        

      //- Set Admin Facilities
      if (user.isAdmin)
        
        //- See all unseen tickets
        .panel.panel-primary
          .panel-heading
            h2 Unseen tickets
          .panel-body
            table.table
              thead
                tr
                  th Student
                  th Question
                  th Message
                  th Time 
                  th Mark as Seen
              tbody
                tbody#unseenTicketsTable

        //- See all seen tickets
        .panel.panel-info
          .panel-heading
            h2 Seen tickets
          .panel-body
            table.table
              thead
                tr
                  th Student
                  th Question
                  th Message
                  th Time 
                  th Close Ticket
              tbody
                tbody#seenTicketsTable
    
