extends layout

block content
    .container
      if (!user)
       .jumbotron
        h1 Please login please
      if (user)
        .jumbotron
            h1 Welcome, #{user.firstname}

        .panel.panel-primary
            .panel-heading
                h2 Your tickets
            .panel-body
                p Some stuff
        
