extends layout

block content
  script(type='text/javascript').
    var local_data =!{JSON.stringify(user)}

    

  .container
    if (!user)
     .jumbotron
        h1 Please login please

    if (user)

      //- Set heading in Jumbotron
      if (!user.isAdmin)
        .jumbotron
          h1 Welcome, #{user.firstname}
      if (user.isAdmin)
        .jumbotron(style={background: '#6BB9F0'})
          h1 Admin Home: #{user.firstname}
          button.btn.btn-primary#unseentickets Unseen Tickets
          button.btn.btn-primary#seenTickets Seen Tickets
          button.btn.btn-primary#closedTickets Closed Tickets
          
      .panel.panel-success
        .panel-heading
          h2 New Ticket 
        .panel-body
          form#tktForm
            .form-group
              input.form-control#tktQuestion(type='text', placeholder='What problem/question are you on?' minlength='1' required)
            .form-group
              textarea.form-control#tktText(type='text', placeholder='What do you need help with?' required)
            .form-group(align='right')
              button.btn.btn-primary#tktSubmit Submit

      //- Stuff that students will see


      if (!user.isAdmin)
        //- Re-fill their location if it's been a while
        if ((Date.now() - user.lastLoggedIn) > 6000000)
          .panel.panel-warning#locationBox
            .panel-heading
              h2 Need your location!
            .panel-body
              p Please enter where you are so we can send a ticket to you
              input#locationBar
              button#locationButton.btn.btn-primary Send   
              
              
        //- All tickets only if they've not been closed
        .panel.panel-default
          .panel-heading
            h2 Your Tickets     
          .panel-body
            table.table
              thead
                tr
                  th Question
                  th Message
                  th Seen?
                  th Close Ticket
              tbody#ticketTable
                
        

      //- Set Admin Facilities
      if (user.isAdmin)
        
        //- See all unseen tickets
        .panel.panel-primary
          .panel-heading
            h2 Unseen tickets
          .panel-body
            table.table
              thead
                tr
                  th Student
                  th Question
                  th Message
                  th Time 
                  th Mark as Seen
                  th Change Status
              tbody
                tbody#unseenTicketsTable

        //- See all seen tickets
        .panel.panel-info
          .panel-heading
            h2 Seen tickets
          .panel-body
            table.table
              thead
                tr
                  th Student
                  th Question
                  th Message
                  th Time 
                  th Mark as Closed
                  th Change Status
              tbody
                tbody#seenTicketsTable

        //- See all closed tickets
        .panel.panel-warning
          .panel-heading
            h2 Closed tickets
          .panel-body
            table.table
              thead
                tr
                  th Student
                  th Question
                  th Message
                  th Time 
                  th Re-open
              tbody
                tbody#closedTicketsTable
    
