doctype html
head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='http://code.jquery.com/jquery.js')
  script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
  
  
  if (user)
    if (user.isAdmin)
      script(src='javascripts/indexAdmin.js')

body
  // Fixed navbar
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') levelfour
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          if (!user)
            li
              a(href='/login') Login
            li
              a(href='/register') Register
          else 
            li 
              a(href='/tickets/new') New Ticket
        
        ul.nav.navbar-nav.navbar-right
          if (user)
          li
            a(href='/myaccount') Your account
      
            
  block content
